- let productos = products.length > 0
html 
    include includes/header.pug 
    body
        h1="Todos los productos"
            if productos 
                div 
                    table 
                        thead 
                            tr 
                                th="Title"
                                th="Price"
                                th="Thumbnail"
                        tbody 
                        each product in products
                            tr
                                td=product.title
                                td=product.price 
                                td
                                    img(src=product.thumbnail)
            else 
                h1="NO HAY PRODUCTOS"